
.home {
	background-color: var(--cinnabar);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.navigation-home{
	font-family: OverpassB;
	width: 60%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.navigation-home h1 {
	color: var(--ivory);
	text-shadow: 1px 2px var(--onyx);
}
.navigation-home .buttons {
	display: flex;
	gap: 20px;
}

.navigation-home .buttons > * {
	width: 170px;
	text-align: center;
	background: var(--cinnabar);
	border: 3px solid var(--ivory);
	padding: 5px 0;
	border-radius: 999px;
	margin-top: 10px;
}

.navigation-home .buttons button , .navigation-home .buttons a button {
		font-family: OverpassB;
    background: none;
    color: var(--ivory);
    font-size: 1.2em;
}

.navigation-home .buttons a button {
	border: none;
}

.navigation-home .buttons > button:hover, a:hover {
	scale: 1.025;
}

.divider-home {
	width: 60%;
	height: 5px;
	background-color: var(--ivory);
	border-radius: 5px;
  margin: 10px auto 20px;
}


/*DISPLAY PRODUCTS*/


.container_products {
	width: 59%;
  margin: 0 auto;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.product-card {
  background: ivory;
	box-shadow: 5px 3px 0 5px var(--onyx);
	border-radius: 20px;
  width: 180px;
  padding: 20px 20px 0;
  margin: 0 0 50px 0;
}

.delete-checkbox {
  margin: 0 10px 0 0 ;
  width:15px;
  height:15px;
  float: left;
  text-decoration: ;
}


.delete-checkbox:checked {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.delete_text {
	text-align: left;
  color: red;
  font-size: 0.7em;  
}


.product-info {
  font-size: 1.3em;
  color: rgb(233, 79, 55);
  padding: 10px 0 20px;
}

.product-info span {
	font-family: OverpassM;
	color:rgb(57, 62, 65);
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(4px, 0, 0);
  }
}