
.home {
	background-color: var(--ivory);
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.navigation-home{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.navigation-home h1 {
	color: var(--cinnabar);
	text-shadow: 1px 2px black;
}
.navigation-home .buttons {
	display: flex;
	gap: 20px;
}

.navigation-home .buttons > * {
	width: 150px;
	text-align: center;
	background: ivory;
	border: 3px solid var(--cinnabar);
	padding: 5px 0;
	border-radius: 999px;
	margin-top: 10px;
}

.navigation-home .buttons button , .navigation-home .buttons a button {
    background: none;
    color: var(--cinnabar);
    font-size: 1.2em;
}

.navigation-home .buttons a button {
	border: none;
}

.navigation-home .buttons > button:hover, a:hover {
	scale: 1.025;
}

.divider-home {
	width: 80%;
	height: 3px;
	background-color: var(--cinnabar);
	border-radius: 999px;
  margin: 20px auto;
}


/*DISPLAY PRODUCTS*/


.container_products {
	width: 79%;
  margin: 0 auto;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.product-card {
  background: ivory;
	box-shadow: 2px 2px 0 3px rgb(233, 79, 55);
	border-radius: 20px;
  width: 180px;
  padding: 20px 20px 0;
  margin: 0 0 50px 0;
}

.delete-checkbox {
  margin: 0 10px 0 0 ;
  width:15px;
  height:15px;
  float: left;
  text-decoration: ;
}


.delete-checkbox:checked {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.delete_text {
	text-align: left;
  color: red;
  font-size: 0.7em;  
}


.product-info {
  font-size: 1.3em;
  color: rgb(233, 79, 55);
  padding: 10px 0 20px;
}

.product-info span {
	color:rgb(57, 62, 65)
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(4px, 0, 0);
  }
}