@font-face { font-family: Cabin-Regular; src: url('/fonts/Cabin-Regular.ttf'); }
@font-face { font-family: Cabin-Bold; font-weight: bold; src: url('/fonts/Cabin-Bold.ttf');}
@font-face { font-family: Overpass-Regular; src: url('/fonts/Overpass-Regular.ttf'); }
@font-face { font-family: Overpass-Medium; src: url('/fonts/Overpass-Medium.ttf'); }
@font-face { font-family: Overpass-Bold; font-weight: bold; src: url('/fonts/Overpass-Bold.ttf');}



:root {
    --first-color: rgb(180, 205, 230); /* light */
    --second-color: rgb(245, 239, 230);  /* blue */
    --third-color: rgb(98, 142, 144);    /* green */
    --third-darker-color: rgb(55, 80, 82);    /* green darker*/

    --fourth-color: rgb(60, 35, 23);   /* brown */
}


h1 {
    font-family: Overpass-Bold;
    margin:auto;
    color:var(--third-color);
    font-size: 40px;
}



body {
    background-color:var(--first-color);
    /* float: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Overpass-Medium, sans-serif;
}

nav {
  width: 80%;
  padding: 20px 0 0 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagettl{
  display: block;
  width:66%;
  float: left;
}


.divider {
    height: 10px;
    width: 120%;
    border-radius: 5px 0 0 5px;
    margin: 20px 0;
    background-color: var(--third-color);
}


button {
    box-shadow: 5px 7px var(--second-color);
    background-color:var(--third-color);
    color:var(--second-color);
    margin: 0 10px 0 0;
    padding: 7px;
    min-height: 40px;
    font-size:27px;
    border: none;
    border-radius: 15px;
    text-align:center;
    text-decoration:none;
}

button:hover {
    background-color:var(--third-darker-color);
}

button:active {
    background-color:var(--second-color);
}

#howmanybutton:hover {
    animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#containerProduct {
    width: 80%;
    margin: auto;
}

.mydiv {
    float: left;
    width: 15%;
    height: 200px;

    padding: 20px 20px 10px 30px;
    margin: 0 51px 50px 0;

    background-color: var(--second-color);
    color:var(--third-color);
    box-shadow: 15px 20px var(--third-color);
    border-radius: 30px;
    text-align: left;
    font-size: 16px;
}

.delete-checkbox {
    position:relative;
    margin: 0;
    width:20px;
    height:20px;
    float: left;
}

.delete-checkbox:checked {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.deletetext {
    color:var(--second-color);
    padding: 4px 0 0 35px;
    height: 25px;
    text-align: left;
    font-size: 10px;
}

.delete-checkbox:hover ~ .deletetext {
    color: DARKRED;
}


/* addproduct.php */


.formBody {
    width:80%;
    margin:auto;
    color:var(--third-color);
}

.formBody input {
    box-shadow: 3px 5px var(--third-color);
    margin: 10px 0;
    width: 30%;
    height: 30px;
    /* box-sizing: border-box; */
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color:darkslategray;
    background-color: var(--second-color);
}


#error {
    color:darkred;
    margin: 10px 0;
}

#product_form {
    color:var(--third-color);
}

select {
    box-shadow: 3px 5px var(--third-color);
    color:var(--third-color);
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px 0px;
    margin: 5px 0;
    box-sizing: border-box;
}



@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
